################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/.containers/api.bd
ControleDeGastos/bin/Debug
/obj/Debug
/ControleDeGastos/obj
ControleDeGastos/bin
/obj
/bin

